body{
	margin: 0;
}
.navbar ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}
#header{
	display: flex; 
	justify-content: space-between;
}
#carouselExampleControls{
	float: right;
	padding-left: 50px;
}